body{
    padding-top: 50px;
    margin-left: 100px;
}

nav{
    background-color: rgb(49, 51, 67);
    padding: 10px 30px;
    height: 20px;
    position: fixed;
    display: flex;
    justify-content: end;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
nav a{
    color: white;
}
.fa-user{
    border: 1px solid rgba(0, 0, 0, 0.516);
    font-size: 50px;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.292);
}
.sidebar{
    background-color: rgb(49, 51, 67);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    padding-top: 100px;
}

.sidebar-link{
    height: 30px;
    margin-bottom: 20px;
}
.sidebar-link a{
    font-size: 15px;
    color: white;
    transition: 0.5s;
}
.sidebar-link a:hover{
    font-size: 18px;
}
a{
    text-decoration: none;
    /* color: black; */
    font-size: 15px;
}
.hello{
    font-size: 13px;
    margin-bottom: 40px;
    color: white;
}

.edit{
    padding: 5px 30px;
    background-color: rgb(0, 8, 255);
    border: none;
    border-radius: 3px;
    color: white;
    transition: 0.5s;
}
.del{
    padding: 5px 30px;
    background-color: red;
    border: none;
    border-radius: 3px;
    color: white;
    transition: 0.5s;
}
.edit:hover, .del:hover{
    cursor: pointer;
    padding: 6px 33px;
}

form{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    padding: 20px;
}
input[type="text"], input[type="url"], select, input[type="file"]{
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 30px;
    background-color: rgba(155, 182, 255, 0.359);

}

.submit{
    background-color: rgb(0, 94, 255);
    text-decoration: none;
    color: white;
    padding: 14px 170px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}
.submit:hover{
    background-color: rgb(5, 54, 139);
}

.products, .accounts{
    margin-left: 100px;
}
.accounts img{
    width: 37px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 5px;
}
.upload, .accounts{
    display: none;
}
.sidebar .second{
    display: none;
}


.popup{
    width: 400px;
    background: #d2cdf0;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 350%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    box-shadow: 0 5px 8px rgba(0,0,0,0.6);
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}



.popup a{
    width: 100%;
    margin-top: 50px;
    padding: 10px 10px;
    background: rgb(59, 53, 250);
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
.popup p{
    margin-bottom: 40px;
}



@Media (max-width: 800px){
    body{
        padding-top: 50px;
        /* margin-left: 0px; */
    }
    .sidebar{
        background-color: rgb(49, 51, 67);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 5rem;
        padding-top: 100px;
    }
    .sidebar .first{
        display: none;
    }
    .sidebar .second{
        display: block;
    }
    .fa-user{
        font-size: 30px;
    }
    .upload{
        width: 100%;
    }
    form{
        margin-left: 5%;
        padding: 20px;
    }
    .submit{
        background-color: rgb(0, 94, 255);
        text-decoration: none;
        color: white;
        padding: 14px 14px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
    .products table{
        width: 450px;
        font-size: 10px;
        padding: 10px;
    }
    .edit{
        margin-bottom: 10px;
    }
    .products{
        width: 100%;
        margin-left: -1rem; 
    }
    .accounts{
        width: 100%;
        margin-left: -2rem; 
    }
    .accounts table{
        width: 450px;
        font-size: 10px;
        padding: 10px;
    }
    .accounts img{
        width: 20px;
        height: 20px;
        border: 1px solid gray;
        border-radius: 30px;
        padding: 5px;
    }
    .accounts a, .products a{
        font-size: 12px;
    }
}